<div id="clockdiv">
  <div>
    <span class="hours"></span>
    <div class="smalltext"><%= t "hours" %></div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext"><%= t "minutes" %></div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext"><%= t "seconds" %></div>
  </div>
</div>
