<header class="navbar navbar-fixed-top">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left menu">
        <li><%= link_to t("framgia_test"), root_path, class: "title" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right menu">
        <li><%= link_to t("home"), "#" %></li>
        <li><%= link_to t("sign_up"), "#" %></li>
        <li><%= link_to t("sign_in"), "#" %></li>
      </ul>
    </div>
  </nav>
</header>
